// Text-Color
$color-gray: #777

// Hauptcolors von Site
$color-brown-light: #ddb48d
$color-brown-dark: #a14f03

// Schwarz und weiß Site-colors
$color-black: #000
$color-white: #ffffff

// Schadow für Button
$box-shadow: (0px 4px 4px rgba(0, 0 , 0, 0.3 ))
$shadow-h2: 0rem .4rem .4rem rgba($color-black, .25)

//row
$margin-vertical-big: 8rem
$grid-width: 114rem
$gutter-horizontal: 6rem

// Typography
$font-size-paragraph: 1.6rem
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem